#vivek {
    align-items: center;
    color:rgb(58, 253, 4);
    padding: 14px 80px 14px 65px;
    background-color: rgb(249, 252, 253);
    width: calc(text-align);
    }
    #vikash h1 {
        align-items: center;
        color: rgb(158, 250, 92);
        padding: 20px 10px ;
        
    }